.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list .todo-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.todo-list .todo-row {
  width: 100%;
  padding: 10px 0;
}

.todo-list .button-done {
  margin-right: 8px;
}